.header {
  display: flex;
  background-color: #1a6aea;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.header__logotipo {
  display: flex;
  flex-direction: row;
}

.header__img {
  padding: 0 20px;
  height: 50px;
}

.header__logotipo p {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.header__img:hover {
  cursor: pointer;
}

.header__search {
  width: 45%;
  padding: 0 20px;
}

.header__search input {
  width: 100%;
  height: 30px;
  border: solid 1px #c9c9c9;
  border-radius: 10px;
  padding-left: 10px;
}

::placeholder {

}

.header section {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.header__menu {
  display: block;
}

.header__menu:hover {
  cursor: pointer;
}

.header__menu ul {
  display: none;
  position: absolute;
  width: 100px;
  padding: 10px 10px 15px;
  margin: 0 0 0 -40px;
  list-style: none;
  text-align: center;
  background-color: rgba(250, 250, 250, 1);
  border-radius: 10px;
}

.header__menu:hover ul, ul:hover {
  display: block;
}

.header__menu li {
  padding-top: 5px;
}

.header__menu li a {
  color: #222 ;
  text-decoration: none;
}

.header__menu li a:hover {
  text-decoration: underline;
}

.header__menu--acount {
  display: flex;
}

.header__menu--acount img {
  height: 40px;
}

.header__cart {
  margin-left: 20px;
}

.header__cart:hover {
  cursor: pointer;
}

.header__cart img {
  height: 40px;
}